@import url(colors.css);
@import url(fonts.css);

* {
  margin: 0;
  pad: 0;
  box-sizing: border-box;
  outline: 0;
  list-style-type: none;
}

ul {
  padding-left: 0;  /* Remove o padding */
  margin-left: 0;   /* Remove a margem */
}

a {
  text-decoration: none;
  color: var(--light);
}

.span-pink {
  color: var(--second-primary);
}

.span-green {
  color: var(--primary);
}

button {
  border: none;
  font-family: var(--mont);
  padding: 24px 36px;
  border-radius: 10px;
  font-size: 18px;
  font-weight: 600;
  cursor: pointer;
  transition: .5s;
}

body {
  background-color: var(--bg);
}

header {
  display: flex;
  flex-direction: column;
  border-top: 4px solid var(--primary);
}

#folhas {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: relative;
  z-index: 99;
}

#folha1 {
  width: 201px;
  height: fit-content;
}

#folha2 {
  width: 350px;
  height: fit-content;
}

#img-bg {
  position: relative;
  margin-top: -386px;
  z-index: 0;
}

#img-bg-2 {
  position: relative;
  margin-left: auto;
  margin-top: -991px;
  z-index: 0;
  width: 1200px;
  display: block;
}

#header-container {
  display: flex;
  max-width: 1200px;
  margin: auto;
  gap: 50px;
  z-index: 99;
  margin-top: -42%;
}

#header-left {
  max-width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 17px;
}

#header-left-1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
}

#header-left-1 img {
  width: 130px;
}

#header-left-1 p {
  font-family: var(--inter);
  font-weight: 200;
  color: var(--light);
  background-color: var(--grey);
  padding: 10px;
  border: 1px solid var(--light);
  font-size: 12px;
}

#header-left-1 h1 {
  color: var(--light);
  font-family: var(--inter);
  font-weight: bold;
  line-height: 115%;
  font-size: 44px;
}

#header-left-1 button {
  background: linear-gradient(38deg, var(--greenbtn2), var(--greenbtn));
  color: var(--bg);
  transition: .5s;
}

#header-left-1 button:hover {
  background: var(--light);
  box-shadow: 0px 0px 15px 2px var(--light);
}

#header-left-2 {
  display: flex;
  width: 300px;
  flex-direction: row;
  gap: 10px;

  color: var(--light);
  font-family: var(--inter);
  font-size: 12px;
  line-height: 16px;
  margin-left: -50px;
}

#header-left-2 div{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
}

#checkout {
  width: 28px;
}

#taca {
  width: 33px;
}

#cadeado {
  width: 26px;
}

#potes {
  display: flex;
  height: 544px;
}

#notificacao1 {
  width: 350px;
  position: relative;
  z-index: 99;
  margin-top: 270px;
}

#notificacao2 {
  width: 300px;
  position: relative;
  margin-left: -300px;
  margin-top: -130px;
}

#poterosa {
  position: relative;
  margin-left: -450px;
  z-index: 1;
  width: 600px;
  height: 800px;
}

#potepreto {
  position: relative;
  margin-left: -120px;
  margin-top: 150px;
  z-index: 3;
  width: 320px;
  height: 400px;
}

/*----------------------------------------------------------------------------------------*/

@media screen and (max-width: 750px){
  #header-container {
    flex-direction: column;
    margin-top: 0;
    max-width: 400px;
  }

  #header-left {
    margin-top: -50px;
    margin-inline: 10px;
  }

  #header-left-1 {
    align-items: center;
  }
  
  #header-left-1 h1 {
    text-align: center;
  }
  
  #header-left-2 {
    margin-right: -50px;
  }
  
  #potes {
    margin: auto;
    height: 300px;
    margin-top: 50px;
  }
  
  #notificacao1 {
    width: 200px;
    margin-top: 50px;
  }
  
  #notificacao2 {
    width: 200px;
    margin-left: -200px;
    margin-top: -170px;
  }
  
  #poterosa {
    margin-left: -250px;
    width: 300px;
    height: 400px;
  }
  
  #potepreto {
    margin-left: -80px;
    margin-top: 50px;
    width: 200px;
    height: 250px;
  }

  #img-bg {
    display: none;
  }
  
  #img-bg-2 {
    display: none;
  }
}

/*----------------------------------------------------------------------------------------*/

#sec2 {
  display: flex;
  position: relative;
  z-index: 99;
  margin: auto;
  margin-top: 80px;
  background-color: var(--light);
  width: 1150px;
  height: 190px;
  border-radius: 30px;
}

#folhasec2 {
  position: relative;
  margin-top: -130px;
  margin-left: -120px;
}

#sec2-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 900px;
  font-family: var(--inter);
  font-weight: bold;
  font-size: 23px;
  color: var(--second-primary);
  margin-left: 20px;
}

#sec2-container div {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  width: 260px;
}

#cartao {
  width: 100px;
}
#pix {
  width: 100px;
}

#caminhao {
  width: 55px;
}

#txtverde {
  color: var(--primary);
}

/*----------------------------------------------------------------------------------------*/

@media screen and (max-width: 750px){
  #sec2 {
    margin-top: 120px;
    width: 380px;
    height: 300px;
  }
  
  #folhasec2 {
    margin-top: -250px;
    margin-left: -50px;
    width: 100px;
  }
  
  #sec2-container {
    justify-content: space-around;
    width: 300px;
    align-items: flex-start;
    margin-left: 10px;
    flex-direction: column;
  }
}

/*------------------------------------------------------------------------------------------*/

#sec3 {
  position: relative;
  z-index: 5;
  margin-top: -60px;
  background-color: var(--second-primary);
  border-radius: 80px;
  height: 854px;
  overflow: hidden;
}

#mol1 {
  width: 350px;
  margin-left: 230px;
}

#sec3container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 1150px;
  margin: auto;
}

#sec3mid {
  display: flex;
  align-items: flex-end;
  width: 800px;
  gap: 30px;
  font-family: var(--inter);
  z-index: 99;
  margin-left: 36%;
}

#sec3mid1 {
  display: flex;
  flex-direction: column;
  width: 500px;
  color: var(--light);
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 10px;
}

#sec3mid1 h2 {
  font-size: 30px;
  font-weight: bold;
  letter-spacing: 2px;
}

#sec3mid1 h3 {
  font-size: 20px;
  font-weight: 300;
}

#sec3mid1 p {
  font-size: 13px;
  font-weight: 300;
  width: 250px;
}

#clique {
  width: 30px;
}

#sec3mid1 button{
  color: var(--light);
  background: linear-gradient(90deg, #F17C89, #A54954);
  box-shadow: 5px 5px 30px -13px var(--grey);
}

#sec3mid1 button:hover{
  color: var(--second-primary);
  background: var(--light);
  box-shadow: 0px 0px 15px 2px var(--light);
}

#potesec3 {
  position: relative;
  margin-left: -160px;
  width: 500px;
  margin-top: 50px;
}

#sec3mid2 {
  display: flex;
  flex-direction: column;
  height: 600px;
  border: 1px solid var(--light);
  border-radius: 10px;
  background-color: rgba(255, 157, 169, 0.54);
  color: var(--light);
  font-weight: 300;
  z-index: 99;
  margin-bottom: 20px;
}

#sec3mid2 div {
  margin: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 600px;
  width: 350px;
}

#sec3mid2 p {
  width: 340px;
}

#fundosec3 {
  width: 1150px;
  margin-top: -620px;
  z-index: 0;
}

#mol2 {
  width: 400px;
  margin-left: 73%;
  margin-top: -580px;
  position: absolute;
  z-index: 99;
}

/*----------------------------------------------------------------------------------------------*/

@media screen and (max-width: 750px){
  #sec3 {
    margin-top: 100px;
    margin-inline: 10px;
    height: 1600px;
  }
  
  #mol1 {
    width: 200px;
    margin-left: 0px;
  }
  
  #sec3container {
    margin-top: 50px;
    width: 400px;
  }
  
  #sec3mid {
    width: 350px;
    margin-left: 0px;
    flex-direction: column;
  }
  
  #sec3mid1 {
    width: 350px;
  }
  
  #potesec3 {
    margin-left: -110px;
    width: 350px;
    margin-top: 50px;
  }
  
  #sec3mid2 {
    height: 700px;
    width: 350px;
    margin-bottom: 20px;
  }
  
  #sec3mid2 div {
    height: 660px;
    width: 350px;
  }
  
  #sec3mid2 p {
    width: 300px;
  }
  
  #fundosec3 {
    width: 350px;
    margin-top: -1300px;
  }
  
  #mol2 {
    width: 200px;
    margin-left: 150px;
    margin-top: 1000px;
  }
}

/*------------------------------------------------------------------------------------------*/

#sec4 {
  position: relative;
  z-index: 5;
  margin-top: 10px;
  background-color: var(--greenbtn2);
  border-radius: 80px;
  height: 921px;
  overflow: hidden;
}

#folha1sec4 {
  width: 450px;
  margin-left: 1400px;
}

#sec4container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 1150px;
  margin: auto;
  margin-top: -300px;
}

#sec4mid {
  display: flex;
  align-items: flex-end;
  width: 800px;
  gap: 0px;
  font-family: var(--inter);
  z-index: 99;
  margin-left: -37%;
}

#sec4mid1 {
  display: flex;
  flex-direction: column;
  width: 450px;
  color: var(--dark);
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 10px;
}

#sec4mid1 h2 {
  font-size: 30px;
  font-weight: bold;
  letter-spacing: 2px;
}

#sec4mid1 h3 {
  font-size: 20px;
  font-weight: 300;
}

#sec4mid1 p {
  font-size: 13px;
  font-weight: 300;
  width: 250px;
}

#clique {
  width: 30px;
}

#sec4mid1 button{
  color: var(--dark);
  background: linear-gradient(90deg, #F0F568, #D0D904);
  box-shadow: 5px 5px 30px -13px var(--grey);
}

#sec4mid1 button:hover{
  color: var(--greenbtn2);
  background: var(--light);
  box-shadow: 0px 0px 15px 2px var(--light);
}

#potesec4 {
  position: relative;
  margin-left: 150px;
  width: 650px;
  margin-top: 50px;
}

#sec4mid2 {
  display: flex;
  flex-direction: column;
  height: 800px;
  border: 1px solid var(--light);
  border-radius: 10px;
  background-color: rgba(165, 171, 19, 0.45);
  color: var(--light);
  font-weight: 300;
  z-index: 99;
  margin-bottom: 20px;
}

#sec4mid2 div {
  margin: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 800px;
  width: 350px;
}

#sec4mid2 p {
  width: 340px;
}

#fundosec4 {
  width: 1150px;
  margin-top: -786px;
  z-index: 0;
}

#folha2sec4 {
  width: 300px;
  margin-left: 0;
  margin-top: -331px;
  position: absolute;
  z-index: 99;
}

/*----------------------------------------------------------------------------------------------*/

@media screen and (max-width: 750px){
  #sec4 {
    margin-top: 100px;
    margin-inline: 10px;
    height: 1800px;
  }
  
  #folha1sec4 {
    width: 200px;
    margin-left: 200px;
  }
  
  #sec4container {
    margin-top: 0px;
    width: 400px;
  }
  
  #sec4mid {
    width: 350px;
    margin-left: 0px;
    flex-direction: column;
  }
  
  #sec4mid1 {
    width: 350px;
    margin-top: -1580px;
  }
  
  #potesec4 {
    margin-left: 80px;
    width: 350px;
    margin-top: 50px;
  }
  
  #sec4mid2 {
    height: 940px;
    width: 350px;
    margin-bottom: 20px;
    margin-top: 550px;
  }
  
  #sec4mid2 div {
    height: 900px;
    width: 350px;
  }
  
  #sec4mid2 p {
    width: 300px;
  }
  
  #fundosec4 {
    width: 350px;
    margin-top: -520px;
  }
  
  #folha2sec4 {
    width: 200px;
    margin-left: 0px;
    margin-top: 1200px;
  }
}

/*-----------------------------------------------------------------------------------------------*/

#sec5 {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-left: auto;
  width: auto;
  align-items: center;
  height: 400px;
  gap: 160px;
  overflow: hidden;
}

#sec5-1 {
  position: relative;
}

#sec5-1 img {
  width: 180px;
}

#sec5-1 div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 6px;
  padding: 10px 40px;
  font-family: var(--inter);
  background-color: #41414175;
  border: 1px solid var(--border);
  border-radius: 0px 22px 22px 22px;
  margin-left: 70px;
  margin-top: -80px;
  backdrop-filter: blur(3px);
}

#sec5-1 div h4 {
  background-color: #2D2D2D;
  color: #F4FF00;
  padding: 10px 20px;
  border-radius: 7px;
  border: 1px solid var(--border);
  font-size: 15px;
  font-weight: 500;
}

#sec5-1 div h5 {
  color: var(--light);
  font-size: 30px;
  width: 220px;
}

#sec5-1 div h5 span {
  color: var(--second-primary);
}

/*carrossel - sec5*/

/* Container do carrossel */
#sec5-2 {
  width: 1079px;
  overflow-x: auto; /* Ativa a rolagem horizontal */
  scroll-snap-type: x mandatory; /* Ativa o scroll snap horizontal */
  -webkit-overflow-scrolling: touch; /* Suaviza o scroll no iOS */
  margin-top: 100px;
}

/* Linha do carrossel */
#carrossel {
  display: flex;
  gap: 20px;
  width: 1580px; /* Largura suficiente para caber todos os itens */
}

/* Itens do carrossel */
.sqr {
  height: 230px;
  width: 350px; /* Defina a largura dos itens do carrossel */
  background-color: #4B4B4B;
  display: block;
  border-radius: 10px;
  scroll-snap-align: start; /* Alinha cada item no início do contêiner ao rolar */
}

/* Remove a barra de rolagem (opcional) */
#sec5-2::-webkit-scrollbar {
  display: none;
}

/*----------------------------------------------------------------------------------------------*/

@media screen and (max-width: 750px){
  #sec5 {
    height: 800px;
    gap: 0px;
    flex-direction: column;
    justify-content: center;
    margin-top: -50px;
  }
  
  /*carrossel - sec5*/
  
  /* Container do carrossel */
  #sec5-2 {
    width: 350px;
  }
}

/*------------------------------------------------------------------------------------------------*/

#sec6 {
  margin-top: 100px;
}

#sec6-1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  font-family: var(--inter);
  color: var(--light);
  width: 630px;
  margin: auto;
}

#sec6-1 h3 {
  font-weight: 300;
  padding: 15px 35px;
  border: 1px solid var(--border);
  border-radius: 10px;
  font-size: 17px;
}

#sec6-1 h4 {
  font-size: 30px;
  width: 630px;
  text-align: center;
}

.rosa {
  color: var(--second-primary);
}

.verde {
  color: var(--primary);
}

#sec6-2 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 1250px;
  margin: auto;
  align-items: center;
  justify-content: center;
  row-gap: 60px;
  column-gap: 40px;
  margin-top: 50px;
  text-align: center;
  position: relative;
  z-index: 98;
}

.sec6-quadro {
  width: 390px;
  height: 835px;
  background: linear-gradient(180deg, #D3D3D3, #FAFAFA);
  border-radius: 10px;
  transition: 0.5s;
}

.sec6-quadro:hover {
  scale: 102%;
}

.sec6-quadro div {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  font-family: var(--inter);
  color: var(--dark);
}

.sec6-quadro div h3 {
  font-size: 35px;
  font-weight: bold;
  margin-top: 40px;
  color: #282828;
  width: 310px;
}

.sec6-quadro div img {
  height: 269px;
}

.sec6-quadro div .desconto {
  color: var(--light);
  font-weight: 600;
  font-size: 18px;
  padding: 10px;
  background-color: var(--second-primary);
  border-radius: 5px;
}

.sec6-quadro div .parcelamento {
  font-size: 18px;
  font-weight: 400;
  width: 180px;
  margin-top: -6px;
  color: #313131;
}

.sec6-quadro div .parcelamento span {
  font-weight: 600;
}

.sec6-quadro div .de {
  font-size: 18px;
  font-weight: 600;
  text-decoration: line-through;
}

.sec6-quadro div .por {
  font-size: 30px;
  font-weight: 700;
  margin-top: -10px;
}

.sec6-quadro div .x {
  font-size: 80px;
  font-weight: bold;
  margin-top: -20px;
}

.sec6-quadro div .x span {
  font-size: 36px;
  font-weight: 500;
}

.sec6-quadro div .semjuros {
  font-size: 20px;
  font-weight: 400;
  font-family: var(--mont);
  margin-top: -20px;
}

.sec6-quadro div button {
  font-size: 21px;
  font-weight: 700;
  background: linear-gradient(90deg, #F0F568, #D0D904);
  box-shadow: 5px 5px 30px -13px var(--grey);
  margin-top: -10px;
  color: var(--dark);
}

.sec6-quadro div button:hover{
  color: var(--light);
  background: var(--dark);
  box-shadow: 0px 0px 15px 2px var(--dark);
}

.sec6-quadro div .frete {
  color: var(--light);
  font-size: 16px;
  font-weight: 700;
  background-color: var(--second-primary);
  border-radius: 7px;
  width: 220px;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/*QUADROS VERDES*/

.sec6-q-verde {
  background: #D3DA30;
}

.sec6-q-verde div .desconto {
  color: var(--light);
  background-color: #282828;
}

.sec6-q-verde div .parcelamento {
  color: #151515;
}

.sec6-q-verde div button {
  background: linear-gradient(90deg, #D7D7D7, var(--light));
  box-shadow: 5px 5px 30px -13px var(--grey);
  margin-top: -10px;
}

.sec6-q-verde div button:hover{
  color: var(--light);
  background: var(--dark);
  box-shadow: 0px 0px 15px 2px var(--dark);
}

/*QUADROS ROSA*/

.sec6-q-rosa {
  background: linear-gradient(180deg, rgb(245, 89, 107, 0.67) 100%, #E1828D 100%);
}

.sec6-q-rosa div .desconto {
  color: var(--light);
  background-color: #282828;
}

.sec6-q-rosa div .parcelamento {
  color: #151515;
}

.sec6-q-rosa div button {
  background: linear-gradient(90deg, #D7D7D7, var(--light));
  box-shadow: 5px 5px 30px -13px var(--grey);
  margin-top: -10px;
}

.sec6-q-rosa div button:hover{
  color: var(--light);
  background: var(--dark);
  box-shadow: 0px 0px 15px 2px var(--dark);
}

.sec6-q-rosa div .frete {
  color: var(--dark);
  background-color: var(--primary);
}

/*quadros sem desconto*/

.sec6-semdesc {
  height: 745px;
}

.sec6-semdesc div img {
  height: 120px;
}

.sec6-semdesc div h3 {
  font-size: 27px;
}

.sec6-semdesc div .x {
  margin-top: 0px;
}

.sec6-semdesc div button {
  margin-top: 30px;
}

.sec6-semdesc div .frete {
  margin-top: 30px;
}

 /*quadros com h3 com quebra de linha*/

.sec6-q-sq div img {
  margin: 17px 0;
}

/*fundo*/

#sec6-fundo {
  width: 100%;
  height: 2033px;
  background: var(--light);
  margin-top: -1870px;
  border-radius: 0px 0px 60px 60px;
  position: relative;
  z-index: 2;
}

/*----------------------------------------------------------------------------------------------*/

@media screen and (max-width: 750px){
  #sec6 {
    margin-top: 0px;
  }

  #sec6-1 {
    width: 400px;
  }

  #sec6-1 h4 {
    width: 350px;
  }

  #sec6-2 {
    flex-direction: column;
    width: 400px;
  }

  .sec6-quadro {
    scale: 90%;
    margin-top: -50px;
  }

  .sec6-quadro:hover {
    scale: 90%;
  }

  #sec6-fundo {
    width: 100%;
    height: 3843px;
    background: var(--light);
    margin-top: -3750px;
  }
}

/*-----------------------------------------------------------------------------------------------*/

#sec7-beneficios div {
  background: linear-gradient(to left, var(--primary), var(--second-primary));
  width: 900px; 
  height: 260px;
  border-radius: 15px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  gap: 15px;
  text-align: center;
  color: var(--light);
  font-family: var(--inter);
  margin: auto;
  position: relative;
  z-index: 99;
  margin-top: -80px;
}

#sec7-beneficios div h2 {
  font-size: 30px;
}

#sec7-beneficios div #p-1 {
  width: 452px;
  font-size: 15px;
  font-weight: 300;
}

#sec7-beneficios div #p-anvisa {
  font-size: 19px;
}

/*------------------------------------------------------------------------------------------------*/

@media screen and (max-width: 750px){
  #sec7-beneficios div {
    width: 350px;
    margin-top: -60px;
  }
  
  #sec7-beneficios div #p-1 {
    width: 300px;
  }
}

/*------------------------------------------------------------------------------------------------*/
#sec8 {
  background: linear-gradient(to right, var(--primary) 50%, var(--second-primary) 50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: var(--light);
  font-family: var(--inter);
  position: relative;
  z-index: 1;
  text-align: center;
  margin-top: -241px;
}

#sec8-prod #divsec8{
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  margin-top: -200px;
}

#sec8-fitboom {
  width: 550px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

#sec8-belle {
  width: 550px;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}

#sec8 h2 {
  font-size: 100px;
  width: 500px;
  height: 160px;
  font-weight: 800;
  line-height: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#sec8 p {
  font-size: 18px;
  font-weight: 200;
  width: 345px;
}

#sec8 p strong {
  font-weight: 500;
}

#sec8 li {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 10px;
}

#sec8 li ul{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 260px;
  height: 120px;
  background-color: #F98794;
  border-radius: 8px;
  padding: 20px;
  font-weight: 300;
  transition: 0.5s;
}

#sec8 li ul:hover {
  scale: 103%;
  background-color: #f3909b;
}

#sec8 #ul-verde ul{
  background-color: #B3BA12;
}

#sec8 #ul-verde ul:hover {
  background-color: #bac22e;
}

#sec8 button{
  color: var(--dark);
  background: linear-gradient(90deg, #F0F568, #D0D904);
  box-shadow: 5px 5px 30px -13px var(--grey);
}

#sec8 button:hover{
  color: var(--greenbtn2);
  background: var(--light);
  box-shadow: 0px 0px 15px 2px var(--light);
}

#sec8 #sec8-btn-rosa{
  color: var(--light);
  background: linear-gradient(90deg, #F17C89, #A54954);
  box-shadow: 5px 5px 30px -13px var(--grey);
}

#sec8 #sec8-btn-rosa:hover{
  color: var(--second-primary);
  background: var(--light);
  box-shadow: 0px 0px 15px 2px var(--light);
}

#sec8-folha1 {
  margin-right: 1233px;
  width: 330px;
  position: relative;
}

#sec8-folha2 {
  width: 250px;
  margin-top: -80px;
  margin-right: 220px;
}

#sec8-mol {
  width: 250px;
  margin-left: 200%;
  margin-top: -860px;
}

/*------------------------------------------------------------------------------------------------*/

@media screen and (max-width: 750px){
  #sec8 {
    margin-top: -260px;
    padding-bottom: 80px;
  }

  #sec8-prod #divsec8 {
    flex-direction: column;
    margin-top: 200px;
    align-items: center;
    gap: 20px;
  }

  #sec8-fitboom {
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }
  
  #sec8-belle {
    width: 100vw;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 20px;
  }
  
  #sec8 h2 {
    font-size: 80px;
    width: 400px;
    height: 160px;
    font-weight: 800;
    line-height: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  #sec8-folha1 {
    display: none;
  }
  
  #sec8-folha2 {
    display: none;
  }
  
  #sec8-mol {
    display: none;
  }
}

/*-----------------------------------------------------------------------------------------------*/

#sec9 {
  background: #F2F2F2;
  font-family: var(--inter);
}

#div-certificado {
  position: relative;
  border-radius: 50%;
  background: rgba(53, 53, 53, 0.14);
  width: 140px;
  height: 140px;
  border: 1px #B7B7B7 solid;
  margin-left: 70%;
  margin-top: -30px;
  z-index: 99;
  backdrop-filter: blur(15px);
}

#certificado {
  width: 140px;
  height: 140px;
  padding: 15px;
}

#sec9 #sec9-div {
  width: 900px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 90px 0px;
  margin-top: -90px;
}

#sec9 #sec9-div img {
  width: 300px;
}

#sec9 #sec9-div  div {
  height: 180px;
  width: 534px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#sec9 #sec9-div  div h2 {
  font-size: 30px;
  font-weight: 500;
}

/*------------------------------------------------------------------------------------------------*/

@media screen and (max-width: 750px){
  #div-certificado {
    margin-left: 0;
    margin: auto;
    margin-top: -40px;
    scale: 90%;
  }
  
  #sec9 #sec9-div {
    width: 400px;
    flex-direction: column;
    margin-top: 0px;
    padding: 50px 0px;
    gap: 20px;
  }
  
  #sec9 #sec9-div img {
    width: 200px;

  }
  
  #sec9 #sec9-div  div {
    height: 300px;
    width: 300px;
    padding: 20px 0px;
  }

}

/*-----------------------------------------------------------------------------------------------*/

#sec10 {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-top: -1px;
  font-family: var(--inter);
  color: var(--light);
}

#sec10-1 img {
  width: 50vw;
}

#sec10-2 {
  margin-left: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 500px;
  gap: 15px;
}

#sec10-2 h2 {
  font-size: 15px;
  font-weight: 500;
  color: #F4FF00;
  padding: 5px 20px;
  background-color: #2D2D2D;
  border: 1px var(--border) solid;
  border-radius: 10px;
}

#sec10-2 h3 {
  font-size: 35px;
}

#sec10-2 p {
  font-size: 16px;
  font-weight: 300;
}

#sec10-2 p strong {
  font-weight: 500;
}

/*-----------------------------------------------------------------------------------------------*/

@media screen and (max-width: 750px){
  #sec10 {
    flex-direction: column;
    gap: 20px;
  }
  
  #sec10-1 img {
    width: 100vw;
  }
  
  #sec10-2 {
    margin: auto;
    width: 350px;
  }
}

/*------------------------------------------------------------------------------------------------*/

#sec11-container {
  width: 60vw;
  margin: auto;
  padding: 150px 0px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  gap: 100px;
}

#sec11-container h2 {
  color: var(--light);
  font-family: var(--inter);
  font-size: 35px;
}

#sec11-container h2 span {
  color: var(--primary);
}

#sec11-caixas {
  display: flex;
  flex-wrap: wrap;
  row-gap: 10px;
  justify-content: space-between;
  align-items: flex-start;
}

.sec11-caixa {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 49%;
  background-color: #F2F2F2;
  padding:25px;
  border-radius: 10px;
  transition: .3s;
}

.sec11-caixa div {
  display: flex;
  align-items: center;
  gap: 20px;
}

#sec11 button {
  all: unset;
  cursor: pointer;
  padding: 5px;
}

#sec11 button img {
  width: 10px;
}

#sec11-caixas p {
  font-family: var(--mont);
  font-weight: 500;
}

/*------------------------------------------------------------------------------------------------*/

@media screen and (max-width: 750px){
  #sec11-container {
    width: 85vw;
    gap: 70px;
    margin-top: -30px;
  }
  
  #sec11-caixas {
    flex-wrap: nowrap;
    flex-direction: column;
  }
  
  #sec11-caixas div {
    width: 100%;
  }
}

/*------------------------------------------------------------------------------------------------*/
/*footer*/

footer {
  background-color: #1A1A1A;
  color: var(--light);
  font-family: var(--inter);
  padding-bottom: 20px;
}

#linha-footer {
  height: 1px;
  width: 100%;
  background: linear-gradient(to right, var(--dark), var(--primary), var(--dark));
  border-radius: 50%;
}

#footer-container {
  display: flex;
  width: 75vw;
  margin: auto;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 80px;
}

#footer-cont1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 17px;
}

#footer-cont1 h2 {
  font-size: 29px;
}

#footer-cont1 p {
  font-size: 16px;
  font-weight: 400;
  width: 370px;
}

#footer-cont1 button {
  background: linear-gradient(58deg, #A9AF18, #F3FD05);
  color: var(--dark);
}

#footer-cont1 button:hover{
  background: var(--light);
  box-shadow: 0px 0px 15px 2px var(--primary);
}

#footer-cont2 {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  gap: 15px;
}


#footer-cont2 #logo-footer {
  width: 80%;
}

#footer-cont2 div {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

#zap-email {
  width: 27px;
}

#footer-cont2 div p {
  font-size: 17px;
}

#footer-redes {
  gap: 20px;
}

#footer-redes img {
  width: 40px;
  transition: .4s;
}

#footer-redes img:hover {
  scale: 110%;
}

#footer-container2 {
  display: flex;
  flex-direction: column;
  width: 764px;
  margin: auto;
  margin-top: 20px;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

#footer-cont21 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
}

#footer-cont21 img {
  width: 100px;
}

#boleto-footer {
  margin-right: -90px;
}

#footer-cont22 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 25px;
}

#footer-cont22 div {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

#footer-cont22 div p {
  line-height: 14px;
  font-size: 12px;
}

#footer-cont22 div img {
  width: 30px;
}

/*------------------------------------------------------------------------------------------------*/

@media screen and (max-width: 750px) {
  
  footer {
    padding-bottom: 50px;
  }

  #footer-container {
    flex-direction: column;
    align-items: center;
    gap: 50px;
  }
  
  #footer-cont1 {
    align-items: center;
    text-align: center;
  }
  
  #footer-cont1 p {
    width: 300px;
  }
  
  #footer-cont2 {
    align-items: center;
  }
  
  #footer-container2 {
    width: 300px;
    margin-top: 80px;
  }
  
  #footer-cont21 { 
    flex-wrap: wrap;
  }
  
  #footer-cont21 img {
    width: 50px;
  }
  
  #boleto-footer {
    margin-right: -50px;
  }
  
  #footer-cont22 {
    scale: 80%;
  }

}

/*------------------------------------------------------------------------------------------------*/

.caixa-expande {
  color: var(--light);
  padding: 0px;
  max-height: 0; /* Começa colapsado */
  opacity: 0; /* Invisível inicialmente */
  overflow: hidden; /* Esconde o conteúdo que ultrapassa a altura */
  transition: max-height 0.5s ease, opacity 0.5s ease; /* Animação suave para altura e opacidade */
}

.caixa-expande.visivel {
  padding: 20px 0px;
  max-height: 500px; /* Define um valor máximo suficiente para o conteúdo expandido */
  opacity: 1; /* Visível */
}

.sec11-caixa.expandido {
  background-color: var(--primary); /* Muda o fundo para a cor da variável --primary */
}

#sec11 button img {
  transition: transform 0.3s ease; /* Animação suave para a rotação */
}

#sec11 button img.rotacionado {
  transform: rotate(180deg); /* Rotaciona o botão em 180 graus */
}