@import url(colors.css);
@import url(fonts.css);

* {
  margin: 0;
  pad: 0;
  box-sizing: border-box;
  outline: 0;
}

.span-pink {
  color: var(--second-primary);
}

.span-green {
  color: var(--primary);
}

button {
  border: none;
  font-family: var(--mont);
  padding: 24px 36px;
  border-radius: 10px;
  font-size: 18px;
  font-weight: 600;
  cursor: pointer;
  transition: .5s;
}

body {
  background-color: var(--bg);
}

header {
  display: flex;
  flex-direction: column;
  border-top: 4px solid var(--primary);
}

#folhas {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: relative;
  z-index: 99;
}

#folha1 {
  width: 201px;
  height: fit-content;
}

#folha2 {
  width: 350px;
  height: fit-content;
}

#img-bg {
  position: relative;
  margin-top: -386px;
  z-index: 0;
}

#img-bg-2 {
  position: relative;
  margin-left: auto;
  margin-top: -991px;
  z-index: 0;
  width: 1200px;
  display: block;
}

#header-container {
  display: flex;
  max-width: 1200px;
  margin: auto;
  gap: 50px;
  z-index: 99;
  margin-top: -800px;
}

#header-left {
  max-width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 17px;
}

#header-left-1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
}

#header-left-1 img {
  width: 130px;
}

#header-left-1 p {
  font-family: var(--inter);
  font-weight: 200;
  color: var(--light);
  background-color: var(--grey);
  padding: 10px;
  border: 1px solid var(--light);
  font-size: 12px;
}

#header-left-1 h1 {
  color: var(--light);
  font-family: var(--inter);
  font-weight: bold;
  line-height: 115%;
  font-size: 44px;
}

#header-left-1 button {
  background: linear-gradient(38deg, var(--greenbtn2), var(--greenbtn));
  color: var(--bg);
}

#header-left-1 button:hover {
  background: var(--light);
  box-shadow: 0px 0px 15px 2px var(--light);
}

#header-left-2 {
  display: flex;
  max-width: 300px;
  flex-direction: row;
  color: var(--light);
  font-family: var(--inter);
  font-size: 12px;
  line-height: 16px;
  margin-right: 40px;
}

#header-left-2 div{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

#header-left-2 div img {
  width: 25px;
}

#potes {
  display: flex;
  height: 544px;
}

#notificacao1 {
  width: 350px;
  position: relative;
  z-index: 99;
  margin-top: 270px;
}

#notificacao2 {
  width: 300px;
  position: relative;
  margin-left: -300px;
  margin-top: -130px;
}

#poterosa {
  position: relative;
  margin-left: -450px;
  z-index: 1;
  width: 600px;
  height: 800px;
}

#potepreto {
  position: relative;
  margin-left: -120px;
  margin-top: 150px;
  z-index: 3;
  width: 320px;
  height: 400px;
}